<!-- Transparent Header Spacer -->
<div class="transparent-header-spacer"></div>


<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>404 Səhifə tapılmadı</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a asp-route="home-default_page">Ana səhifə</a></li>
                        <li>404 Səhifə tapılmadı</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>

<!-- Page Content
================================================== -->
<!-- Container -->
<div class="container">

    <div class="row">
        <div class="col-xl-12">

            <section id="not-found" class="center margin-top-50 margin-bottom-25">
                <h2>404 <i class="icon-line-awesome-question-circle"></i></h2>
                <p>Üzrlü sayın daxil etdiyiniz səhifə tapılmadı.</p>
            </section>

            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="intro-banner-search-form not-found-search margin-bottom-50">
                        <!-- Search Field -->
                        <div class="intro-search-field ">
                            <input id="intro-keywords" type="text" placeholder="Nə axtarmaq istəyirsiniz?">
                        </div>

                        <!-- Button -->
                        <div class="intro-search-button">
                            <button class="button ripple-effect">Axtar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Container / End -->
<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->


<partial name="_Footer" />