<!-- Transparent Header Spacer -->
<div class="transparent-header-spacer"></div>

<!-- Projects
================================================== -->
<div class="section padding-top-65 padding-bottom-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <!-- Section Headline -->
                <div class="section-headline margin-top-0 margin-bottom-35">
                    <h3>Bütün layihələr</h3>
                </div>

                <!-- Projects Container -->
                <div class="listings-container compact-list-layout margin-top-35">
                    <!-- Projects Listing -->
                    <a href="single-job-page.html" class="job-listing with-apply-button">
                        <!-- Project Listing Details -->
                        <div class="job-listing-details">
                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Pragmatech Student Management</h3>
                                <!-- Project Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-business-center"></i> 45 günlük</li>
                                        <li><i class="icon-material-outline-access-time"></i> 2 gün əvvəl</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- More -->
                            <span class="list-apply-button ripple-effect">Daha ətraflı</span>
                        </div>
                    </a>

                    <!-- Projects Listing -->
                    <a href="single-job-page.html" class="job-listing with-apply-button">
                        <!-- Project Listing Details -->
                        <div class="job-listing-details">
                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Elstore </h3>
                                <!-- Project Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-business-center"></i> 120 günlük</li>
                                        <li><i class="icon-material-outline-access-time"></i> 15 gün əvvəl</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- More -->
                            <span class="list-apply-button ripple-effect">Daha ətraflı</span>
                        </div>
                    </a>

                    <!-- Projects Listing -->
                    <a href="single-job-page.html" class="job-listing with-apply-button">
                        <!-- Project Listing Details -->
                        <div class="job-listing-details">
                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Pragmatech CRM</h3>
                                <!-- Project Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-business-center"></i> 75 günlük</li>
                                        <li><i class="icon-material-outline-access-time"></i> 2 gün əvvəl</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- More -->
                            <span class="list-apply-button ripple-effect">Daha ətraflı</span>
                        </div>
                    </a>

                    <!-- Projects Listing -->
                    <a href="single-job-page.html" class="job-listing with-apply-button">
                        <!-- Project Listing Details -->
                        <div class="job-listing-details">
                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">Amazon CRM</h3>
                                <!-- Project Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-material-outline-business-center"></i> 45 günlük</li>
                                        <li><i class="icon-material-outline-access-time"></i> 2 gün əvvəl</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- More -->
                            <span class="list-apply-button ripple-effect">Daha ətraflı</span>
                        </div>
                    </a>

                </div>
                <!-- Jobs Container / End -->
                <!-- Pagination -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Pagination -->
                        <div class="pagination-container margin-top-30 margin-bottom-60">
                            <nav class="pagination">
                                <ul>
                                    <li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#" class="current-page">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Pagination / End -->

            </div>
        </div>
    </div>
</div>
<!-- Projects / End -->



<partial name="_Footer" />


