<!-- Transparent Header Spacer -->
<div class="transparent-header-spacer"></div>


<!-- Tasks
================================================== -->
<div class="section padding-top-65 padding-bottom-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <!-- Section Headline -->
                <div class="section-headline margin-top-0 margin-bottom-35">
                    <h3>Bütün tasklar</h3>
                </div>

                <!-- Jobs Container -->
                <div class="listings-container margin-top-35">
                    <!-- Job Listing -->
                    <div class="job-listing">
                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Logo -->
                            <a href="#" class="job-listing-company-logo">
                                <img src="images/company-logo-01.png" alt="">
                            </a>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <a href="#"><h4 class="job-listing-company">Pragmatech Student Management</h4></a>
                                <h3 class="job-listing-title">Home Uİ</h3>
                                <p class="job-listing-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non nobis, et expedita veritatis consectetur doloremque! Libero corporis mollitia quod. Labore delectus pariatur iste qui architecto asperiores nulla consequuntur aliquam distinctio?</p>
                                <div class="task-tags">
                                    <span>HTML</span>
                                    <span>Css</span>
                                    <span>Js</span>
                                    <span>Bootstrap</span>
                                    <span>ReactJS</span>
                                </div>
                            </div>
                        </div>
                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer d-flex justify-content-between">
                            <ul>
                                <li><i class="icon-material-outline-business-center"></i><strong>7-10 günlük</strong></li>
                                <li><i class="icon-material-outline-account-balance-wallet"></i><strong>200&#8380; - 300&#8380;</strong> </li>
                                <li><i class="icon-material-outline-access-time"></i><strong>2 gün əvvəl</strong></li>
                            </ul>
                            <a href="single-job-page.html" onclick="window.location.href='/page2'" class="button ripple-effect button-sliding-icon" style="width: 155.406px;">Data ətraflı<i class="icon-feather-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- Job Listing -->
                    <div class="job-listing">
                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Logo -->
                            <a href="#" class="job-listing-company-logo">
                                <img src="images/company-logo-01.png" alt="">
                            </a>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <a href="#"><h4 class="job-listing-company">Pragmatech Student Management</h4></a>
                                <h3 class="job-listing-title">Home Uİ</h3>
                                <p class="job-listing-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non nobis, et expedita veritatis consectetur doloremque! Libero corporis mollitia quod. Labore delectus pariatur iste qui architecto asperiores nulla consequuntur aliquam distinctio?</p>
                                <div class="task-tags">
                                    <span>HTML</span>
                                    <span>Css</span>
                                    <span>Js</span>
                                    <span>Bootstrap</span>
                                    <span>ReactJS</span>
                                </div>
                            </div>
                        </div>
                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer d-flex justify-content-between">
                            <ul>
                                <li><i class="icon-material-outline-business-center"></i><strong>7-10 günlük</strong></li>
                                <li><i class="icon-material-outline-account-balance-wallet"></i><strong>200&#8380; - 300&#8380;</strong> </li>
                                <li><i class="icon-material-outline-access-time"></i><strong>2 gün əvvəl</strong></li>
                            </ul>
                            <a href="single-job-page.html" onclick="window.location.href='/page2'" class="button ripple-effect button-sliding-icon" style="width: 155.406px;">Data ətraflı<i class="icon-feather-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- Job Listing -->
                    <div class="job-listing">
                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Logo -->
                            <a href="#" class="job-listing-company-logo">
                                <img src="images/company-logo-01.png" alt="">
                            </a>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <a href="#"><h4 class="job-listing-company">Pragmatech Student Management</h4></a>
                                <h3 class="job-listing-title">Home Uİ</h3>
                                <p class="job-listing-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non nobis, et expedita veritatis consectetur doloremque! Libero corporis mollitia quod. Labore delectus pariatur iste qui architecto asperiores nulla consequuntur aliquam distinctio?</p>
                                <div class="task-tags">
                                    <span>HTML</span>
                                    <span>Css</span>
                                    <span>Js</span>
                                    <span>Bootstrap</span>
                                    <span>ReactJS</span>
                                </div>
                            </div>
                        </div>
                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer d-flex justify-content-between">
                            <ul>
                                <li><i class="icon-material-outline-business-center"></i><strong>7-10 günlük</strong></li>
                                <li><i class="icon-material-outline-account-balance-wallet"></i><strong>200&#8380; - 300&#8380;</strong> </li>
                                <li><i class="icon-material-outline-access-time"></i><strong>2 gün əvvəl</strong></li>
                            </ul>
                            <a href="single-job-page.html" onclick="window.location.href='/page2'" class="button ripple-effect button-sliding-icon" style="width: 155.406px;">Data ətraflı<i class="icon-feather-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- Job Listing -->
                    <div class="job-listing">
                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Logo -->
                            <a href="#" class="job-listing-company-logo">
                                <img src="images/company-logo-01.png" alt="">
                            </a>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <a href="#"><h4 class="job-listing-company">Pragmatech Student Management</h4></a>
                                <h3 class="job-listing-title">Home Uİ</h3>
                                <p class="job-listing-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non nobis, et expedita veritatis consectetur doloremque! Libero corporis mollitia quod. Labore delectus pariatur iste qui architecto asperiores nulla consequuntur aliquam distinctio?</p>
                                <div class="task-tags">
                                    <span>HTML</span>
                                    <span>Css</span>
                                    <span>Js</span>
                                    <span>Bootstrap</span>
                                    <span>ReactJS</span>
                                </div>
                            </div>
                        </div>
                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer d-flex justify-content-between">
                            <ul>
                                <li><i class="icon-material-outline-business-center"></i><strong>7-10 günlük</strong></li>
                                <li><i class="icon-material-outline-account-balance-wallet"></i><strong>200&#8380; - 300&#8380;</strong> </li>
                                <li><i class="icon-material-outline-access-time"></i><strong>2 gün əvvəl</strong></li>
                            </ul>
                            <a href="single-job-page.html" onclick="window.location.href='/page2'" class="button ripple-effect button-sliding-icon" style="width: 155.406px;">Data ətraflı<i class="icon-feather-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- Job Listing -->
                    <div class="job-listing">
                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Logo -->
                            <a href="#" class="job-listing-company-logo">
                                <img src="images/company-logo-01.png" alt="">
                            </a>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <a href="#"><h4 class="job-listing-company">Pragmatech Student Management</h4></a>
                                <h3 class="job-listing-title">Home Uİ</h3>
                                <p class="job-listing-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non nobis, et expedita veritatis consectetur doloremque! Libero corporis mollitia quod. Labore delectus pariatur iste qui architecto asperiores nulla consequuntur aliquam distinctio?</p>
                                <div class="task-tags">
                                    <span>HTML</span>
                                    <span>Css</span>
                                    <span>Js</span>
                                    <span>Bootstrap</span>
                                    <span>ReactJS</span>
                                </div>
                            </div>
                        </div>
                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer d-flex justify-content-between">
                            <ul>
                                <li><i class="icon-material-outline-business-center"></i><strong>7-10 günlük</strong></li>
                                <li><i class="icon-material-outline-account-balance-wallet"></i><strong>200&#8380; - 300&#8380;</strong> </li>
                                <li><i class="icon-material-outline-access-time"></i><strong>2 gün əvvəl</strong></li>
                            </ul>
                            <a href="single-job-page.html" onclick="window.location.href='/page2'" class="button ripple-effect button-sliding-icon" style="width: 155.406px;">Data ətraflı<i class="icon-feather-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Pagination -->
                            <div class="pagination-container margin-top-30 margin-bottom-60">
                                <nav class="pagination">
                                    <ul>
                                        <li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#" class="current-page">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li class="pagination-arrow"><a href="#"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination / End -->
                </div>
                <!-- Jobs Container / End -->



            </div>
        </div>
    </div>
</div>
<!-- Tasks / End -->



<partial name="_Footer" />


