@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<!-- Sign In Popup
================================================== -->
<div id="sign-in-dialog" class="zoom-anim-dialog dialog-with-tabs">

    <!--Tabs -->
    <div class="sign-in-form">

        <div class="popup-tabs-container">

            <!-- Register -->
            <div class="popup-tab-content" id="register">

                <!-- Welcome Text -->
                <div class="text-center">
                    <img width="350" class="text-center" src="~/images/logo_pragma.png">
                </div>

                <div class="welcome-text pt-4">
                    <h3>PragmatechUpWork</h3>   
                    <span>Hesabınız varsa, <a asp-route="user-login">Daxil olun</a></span>
                </div>

                <div asp-validation-summary="ModelOnly">

                </div>


                <!-- Form -->
                <form method="post" id="register-account-form" asp-route="user-register">
                    <div class="input-with-icon-left">
                        <i class="icon-material-outline-account-circle"></i>
                        <input type="text" class="input-text with-border" asp-for="UserName" placeholder="İstifadəçi adı" required />
                        <span asp-validation-for="UserName"></span>
                    </div>

                    <div class="input-with-icon-left">
                        <i class="icon-material-baseline-mail-outline"></i>
                        <input asp-for="Email" class="input-text with-border" placeholder="Daxili sistemdəki emailİnİz" required />
                        <span asp-validation-for="Email"></span>
                    </div>                   
                </form>

                <!-- Button -->
                <button class="margin-top-10 button full-width button-sliding-icon ripple-effect" type="submit" form="register-account-form">Qeydiyyatdan keç <i class="icon-material-outline-arrow-right-alt"></i></button>
                
            </div>

        </div>
    </div>
</div>
<!-- Sign In Popup / End -->
