<!doctype html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <title>Hireo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/colors/green.css" asp-append-version="true">

    @RenderSection("styles", required: false)
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper" class="wrapper-with-transparent-header">

        <!-- Header Container
        ================================================== -->
        <header id="header-container" class="fullwidth" style="position: fixed;">
            <!-- Header -->
            <div id="header">
                <div class="container">
                    <!-- Left Side Content -->
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo">
                            <a asp-route="home-default_page"><img src="~/images/logo_pragma.png" data-sticky-logo="images/logo_pragma.png" data-transparent-logo="images/logo_pragma.png" alt=""></a>
                        </div>
                        <!-- Main Navigation -->
                        <nav id="navigation">
                            <ul id="responsive">
                                <li><a asp-route="project-whole_projects" style="padding: 7px 9px !important;">Layihələr</a></li>
                                <li><a asp-route="tasks-page" style="padding: 7px 9px !important;">Tasklar</a></li>
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->
                    </div>
                    <!-- Left Side Content / End -->
                    <!-- Right Side Content / End -->
                    <div class="right-side">
                        <!--  User Notifications -->
                        <div class="header-widget hide-on-mobile">
                            <!-- Notifications -->
                            <div class="header-notifications">
                                <!-- Trigger -->
                                <div class="header-notifications-trigger">
                                    <a href="#"><i class="icon-feather-bell"></i><span>4</span></a>
                                </div>
                                <!-- Dropdown -->
                                <div class="header-notifications-dropdown">
                                    <div class="header-notifications-headline">
                                        <h4>Notifications</h4>
                                        <button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
                                            <i class="icon-feather-check-square"></i>
                                        </button>
                                    </div>

                                    <div class="header-notifications-content">
                                        <div class="header-notifications-scroll" data-simplebar>
                                            <ul>
                                                <!-- Notification -->
                                                <li class="notifications-not-read">
                                                    <a href="dashboard-manage-candidates.html">
                                                        <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                                        <span class="notification-text">
                                                            <strong>Michael Shannah</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
                                                        </span>
                                                    </a>
                                                </li>

                                                <!-- Notification -->
                                                <li>
                                                    <a href="dashboard-manage-bidders.html">
                                                        <span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
                                                        <span class="notification-text">
                                                            <strong>Gilbert Allanis</strong> placed a bid on your <span class="color">iOS App Development</span> project
                                                        </span>
                                                    </a>
                                                </li>

                                                <!-- Notification -->
                                                <li>
                                                    <a href="dashboard-manage-jobs.html">
                                                        <span class="notification-icon"><i class="icon-material-outline-autorenew"></i></span>
                                                        <span class="notification-text">
                                                            Your job listing <span class="color">Full Stack PHP Developer</span> is expiring.
                                                        </span>
                                                    </a>
                                                </li>

                                                <!-- Notification -->
                                                <li>
                                                    <a href="dashboard-manage-candidates.html">
                                                        <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                                        <span class="notification-text">
                                                            <strong>Sindy Forrest</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  User Notifications / End -->
                        <!-- User Menu -->
                        <div class="header-widget">
                            <!-- Messages -->
                            <div class="header-notifications user-menu">
                                <div class="header-notifications-trigger">
                                    <a href="#"><div class="user-avatar"><img src="~/images/user-avatar-small-01.jpg" alt=""></div></a>
                                </div>
                                <!-- Dropdown -->
                                <div class="header-notifications-dropdown">
                                    <!-- User Status -->
                                    <div class="user-status">
                                        <!-- User Name / Avatar -->
                                        <div class="user-details">
                                            <div class="user-avatar status-online"><img src="~/images/user-avatar-small-01.jpg" alt=""></div>
                                            <div class="user-name">
                                                Mahmud Qəribov <span>Discord Support</span>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="user-menu-small-nav">
                                        <li><a asp-route="profile-page"><i class="icon-material-outline-dashboard"></i> Profil</a></li>
                                        <li><a href="dashboard-settings.html"><i class="icon-material-outline-settings"></i> Parametrlər</a></li>
                                        <li><a href="index-logged-out.html"><i class="icon-material-outline-power-settings-new"></i> Çıxmaq</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- User Menu / End -->
                        <!-- Mobile Navigation Button -->
                        <span class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </span>

                    </div>
                    <!-- Right Side Content / End -->
                </div>
            </div>
            <!-- Header / End -->
        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->

        @RenderBody()
        

    </div>
    <!-- Wrapper / End -->
    <!-- Scripts
    ================================================== -->
    <script src="~/js/jquery-3.3.1.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-migrate-3.0.0.min.js" asp-append-version="true"></script>
    <script src="~/js/mmenu.min.js" asp-append-version="true"></script>
    <script src="~/js/tippy.all.min.js" asp-append-version="true"></script>
    <script src="~/js/simplebar.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-slider.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-select.min.js" asp-append-version="true"></script>
    <script src="~/js/snackbar.js" asp-append-version="true"></script>
    <script src="~/js/clipboard.min.js" asp-append-version="true"></script>
    <script src="~/js/counterup.min.js" asp-append-version="true"></script>
    <script src="~/js/magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/js/slick.min.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>

    <!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
    <script>
        // Snackbar for user status switcher

        $('#snackbar-user-status label').click(function () {
            Snackbar.show({
                text: 'Your status has been changed!',
                pos: 'bottom-center',
                showAction: false,
                actionText: "Dismiss",
                duration: 3000,
                textColor: '#fff',
                backgroundColor: '#383838'
            });
        });
    </script>

    @RenderSection("scripts", required: false)


</body>
</html>